*{
    padding: 0;
    margin: 0;
    
}

.container{
    padding-top: 95px;
    background-image: url('../../assets//img/backgroundUpdate.png');
}

.home{
    
    background: linear-gradient(to bottom, #f5f5f6, #0c0c0cad);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 562px;
    align-items: center;
}
.home h1{
    padding: 55px ;
    font-size: 3.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.paragraph{
    font-size: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    margin-bottom: 40px;
}

.socialRedes{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin-top: 200px;
    width: 50px;
    height: 150px;
    position: absolute;
    cursor: pointer;
}

.socialRedesAfter{
    background-color:#ededf4 ;
    display: none;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 50px;
    width: 100%;
    height: 60px;
    cursor: pointer;
}



.typical{
    display: flex;
    justify-content: center;
}

.h1{
    display: none;

}


.buttonProjects{
    cursor: pointer;
        background-color: #0b0bf6ad;
        margin: 15px;
        padding: 15px;
        font-size: 15px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 180px;
        border-radius: 10px;
        color: white;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
        width: 130px;
        margin-top:150px;
}
.buttonProjects:hover{
    background-color: #0b0bf674;
    transition: 0.30s;
}

@media (max-width:840px) {

    .typical{
        display: none;
    }

    .home{
        height: 100%;
    }

    .h1{
        display: block;
    }
    .home h1{
        
        font-size: 2.5rem;
    }

    .home p{
     width: 100%;
        padding: 10%;
    }
    
    .socialRedes{
        display: none;
    }
    .socialRedesAfter{
        display: flex;
    }

    
}